@model TestASP.Models.Cat

@{
    ViewData["Title"] = "Add";
}

<h1>Create</h1>

<h4>Cats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form action="~/BuyCat/AddDataToContext" method="post">
			@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			<div class="form-group">
				<label class="control-label">Breed</label>
				<input type="text" name="breed" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">Date Of Birthday</label>
				<input type="datetime" name="dateOfBirthday" class="form-control" />
			</div>
			<div class="form-group">
				<label class="font-group">Price</label>
				<input type="number" name="price" class="form-control"/>
			</div>
			<div class="form-group">
				<label class="form-group">Color</label>
				<input type="text" name="color" class="form-control" />
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Отправить" />
			</div>
		
		</form>
    </div>
</div>

<div>
    <a asp-action="BuyCatPage">Back to List</a>
</div>