@using TestASP.Models
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
            <h1 class="display-4">Thank you for your purchase</h1>
            <p>Please leave feedback about the service</p>
        @if (User.Identity.IsAuthenticated)
        {   
            <p>MoneyFromSales: @MoneyFromSales.AllMoney</p>          
        }
</div>  

