@{
    ViewData["Title"] = "BuyCat";
}
<dib class="text-left">
    <h1>Buy a cat</h1>
    <table>
        <thead>
            <tr>
                <th>breed</th>
                <th>Age</th>
                <th>Color</th>
            </tr>
        </thead>
    </table>
</dib>
