@{
    ViewData["Title"] = "Breed Page";
}

<div class="text-center">
    <h1 class="display-4">Breed</h1>
   
  
    <p>Many Breedd</p>
</div>
<div class="text-left">
    
     <p >1)Abyssinian Cat <br />
         <img src="~/Images/Abyssinian.jpg" width="400"/> <br /> <br />
        2)American Bobtail Cat Breed<br />
         <img src="~/Images/bobtail.jpg" width="400"/> <br /> <br />
        3)American Curl Cat Breed<br />
         <img src="~/Images/curl.jpg" width="400"/> <br /> <br />
        4)American Shorthair Cat<br />
         <img src="~/Images/Shorthair.jpg" width="400"/> <br /> <br />
        5)American Wirehair Cat Breed<br />
         <img src="~/Images/wirehair.jpg" width="400"/> <br /> <br />
        6)Balinese-Javanese Cat Breed<br />
         <img src="~/Images/Balinese.jpg" width="400"/> <br /> <br />
        7)Chartreux Cat Breed<br />
         <img src="~/Images/British.jpg" width="400"/> <br /> <br />
        8)Burmese Cat<br />
        <img src="~/Images/Burmese.jpg" width="400"/> <br /> <br />
        9)Japanese Bobtail Cat Breed<br />
         <img src="~/Images/japanese.jpg" width="400"/> <br /> <br />
        10)Exotic Shorthair Cat Breed<br /></p>
         <img src="~/Images/exotic.jpg" width="400"/> <br /> <br />
</div>