@{
    ViewData["Title"] = "Breed Page";
}

<div class="text-center">
    <h1 class="display-4">Breed</h1>
   
  
    <p>Many Breedd</p>
</div>
<div class="text-left">
     <p>1)Abyssinian Cat <br />
        2)American Bobtail Cat Breed<br />
        3)American Curl Cat Breed<br />
        4)American Shorthair Cat<br />
        5)American Wirehair Cat Breed<br />
        6)Balinese-Javanese Cat Breed<br />
        7)Chartreux Cat Breed<br />
        8)Burmese Cat<br />
        9)Japanese Bobtail Cat Breed<br />
        10)Exotic Shorthair Cat Breed<br /></p>
</div>