@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">InterestingPage</h1>
    <p>Read on and enjoy the wide range of interesting facts about cats and kittens</p>
</div>

<div class="text-left">
    <p>1)Cats are one of, if not the most, popular pet in the world. <br />
        2)There are over 500 million domestic cats in the world. <br />
        3)Cats and humans have been associated for nearly 10000 years.<br />
        4)Cats conserve energy by sleeping for an average of 13 to1 4 hours a day.</p>
</div>
